config MTK_KXTJ2_NEW
	bool "KXTJ2 for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          KXTJ2 Accelerometer.
